.tableWrap{
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background-color: lavender;
}

table th, table td{
    border: 2px solid black;
    padding-left: 4px;
    padding-right: 4px;
}

table{
    border-collapse: collapse;
}

.delete, .edit{
    border:2%;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3%;
}

.h1{
    text-align:center;
}

.list{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4ITQxFCcXmWLkCz1gRSiy7sTboIK5s2ctug&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: bisque;

}

